@import './scss/base.scss';

body {
	margin: 0;
	font-family: $fontFamily;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $black;
	font-weight: $fontWeightHeavy;
	border-radius: 5px;

	&:hover {
		color: $black;
		text-decoration: none;
		background-color: $gray;
	}
}

.navbar-brand {
	color: $primaryColor !important;
	img {
		width: 150px;
	}
}

.navbar {
	box-shadow: 1px 0 10px 0 rgba(89, 98, 115, 0.2);
	background-color: $white;
}

.nav-link {
	color: $black !important; 
}

.table td, .table th {
	font-size: .9rem;
}

.refund {
	color: $successColor;
	font-weight: $fontWeightHeavy;
}

.top-page-padding {
	padding-top: 7rem;
}

.card-header {
	background-color: $primaryColor;
	color: $white;
}

.warning {
	color: $warningColor;
}

.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 200px;

	

	
}
