@import './scss/base.scss';

body {
	margin: 0;
	font-family: $fontFamily;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
	color: $primaryColor !important;
}

.navbar {
	background-color: $white;
}
