$primaryColor: #f66652;
$primaryColorInteracted: lighten($primaryColor, 10%);
$primaryColorLightened: lighten($primaryColor, 33%);
$secondaryColor: #537871;
$secondaryColorInteracted: lighten($secondaryColor, 10%);
$secondaryColorLightened: #e4f1ee;
$stroke: #dfdad8;
$strokeLight: lighten($stroke, 8%);
$strokeDarkened: $secondaryColorLightened;
$bgColorLight: #fff;
$bgColorLightened: #fafafa;
$bgColor: #f3f3f3;
$successColor: #a7c958;
$warningColor: $primaryColor;
$warningLight: lighten($warningColor, 15%);
$weak: #f57a23;
$moderate: #f5a623;
$good: #fdeb00;
$strong: #89de55;
$fontColor: #3f4047;
$fontColorLight: #fff;
$fontColorLightened: #898b96;
$fontFamily: 'Apercu', sans-serif;
$fontWeightHeavy: 700;
$fontWeightNormal: 400;
$fontWeightLight: 200;

/* colors */
$white: #fff;
$black: #2c3340;
$gray: #f5f6f8;

/* page breaks */
$xs-break: 375px;
$sm-break: 414px;
$md-break: 768px;
$lg-break: 1024px;

