$primaryColor: #f66652;
$primaryColorInteracted: lighten($primaryColor, 10%);
$primaryColorLightened: lighten($primaryColor, 33%);
$secondaryColor: #537871;
$secondaryColorInteracted: lighten($secondaryColor, 10%);
$secondaryColorLightened: #e4f1ee;
$stroke: #dfdad8;
$strokeLight: lighten($stroke, 8%);
$strokeDarkened: $secondaryColorLightened;
$bgColorLight: #fff;
$bgColorLightened: #fafafa;
$bgColor: #f3f3f3;
$successColor: #A7C958;
$warningColor: $primaryColor;
$warningLight: lighten($warningColor, 15%);$weak: #F57A23;
$moderate: #F5A623;
$good: #FDEB00;
$strong: #89DE55;$fontColor: #3f4047;
$fontColorLight: #fff;
$fontColorLightened: #898b96;
$fontFamily: "Apercu", sans-serif;
$fontWeightHeavy: 700;
$fontWeightNormal: 400;
$fontWeightLight: 200;